//COLOURS ---variables
$colour-primary: rgb(233, 91, 114);

$color-white: #fff;
$color-black: #000;

//FONT --variables

$default-font-size: 1.8rem;

//GRID --variables
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;